body{
  background: url(img.jpg) #000; /*fondo*/
  color: #fff;
  font-size: 16px;
  background-size: cover;/*imagen se ajuste al ancho de la pantalla*/
}

.centrar{
  width: 100%
  max-width: 1000px;
  margin: auto;
}

.todo{
  width: 40%;
  margin: 2em;
}

.todo p{
  display: inline-block;
  line-height: 1em;
}

.fecha{
  font-family: 'Anton', sans-serif;
  text-align: center;
  font-size: 1.5em;
  margin-bottom: 0.3125rem;
  background: rgba(122, 182, 206);
  padding: 10px;
  width: 55%
}

.reloj{
  font-family: 'Anton', sans-serif;
  text-align: center;
  font-size: 1.5em;
  background: rgba(122, 182, 206);
  padding: 10px;
  width: 55%
}

.reloj .segundoss{
  display: inline-block;
}
